<form class="example-form" name="form">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Usuario</mat-label>
        <input matInput name="usuario" placeholder="Usuario" required [(ngModel)]="usuario">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Senha</mat-label>
        <input matInput type="password" name="senha" required [(ngModel)]="senha">
    </mat-form-field>
    <br>
    <button mat-raised-button (click)="login()"> Login</button>
</form>